extends layout

block content
    .post
        h1=post.title
        p.meta 
            | Posted in 
            a(href="/categories/show/" + post.category) #{post.category} 
            | by #{post.author} 
            | on #{moment(post.date).format("DD-MM-YYYY")} 
        img.rounded.mx-auto.d-block.w-25(src='/images/'+ post.mainimage)
        //-s2: !=post.body
        #text !{post.body}
        br
        hr
        h2 All Comments: 
            if post.comments
                each comment in post.comments 
                    .p-1.m-3.border.rounded-3
                        .fs-5.fw-bolder #{comment.name}
                        div.fw-6.fs-normal.text-secondary
                            | #{comment.commentbody}
        br
        hr 
        h2 Add comment:
            if errors 
                each error in errors 
                    alert.alert-danger=error.msg 
        form(method='post' action='/posts/addcomment')
            input(type='hidden' value=post._id name='postId')
            .row.mb-3
                label.col-sm-2.col-form-label(for='') Name
                .col-sm-10
                    input#inputEmail3.form-control(type='text' name='name')
            .row.mb-3
                label.col-sm-2.col-form-label(for='') Email
                .col-sm-10
                    input#inputEmail3.form-control(type='text' name='email')
            .row.mb-3
                label.col-sm-2.col-form-label(for='') Body
                .col-sm-10
                    input#inputEmail3.form-control(type='text' name='body')
            button.btn.btn-primary(type='submit') Add comment







